// .card-wrapper{
//     display: flex;
//     align-items: flex-start;
//     position: fixed;
//     top: 0;
//     right: 0;
//     z-index: 10;
// }

.big_wrapper.bg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart--active .big_wrapper.bg {
    pointer-events: none;
}

.removedScroll{
    overflow-y: hidden;
}

.cart{
    width: 340px;
    height: 100%;
    background: #f7f7f7;
    position: absolute;
    top: 0;
    right: -340px;
    z-index: 10;
    transition: 0.3s;
    padding: 17px;

    &--toggle{
        cursor: pointer;
        position: fixed;
        right: 0;
        top: 30%;
        border: none;
        outline: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 10px 25px;
        border-radius: 10px 0 0 10px;
        background: #fff;


        svg{
            font-size: 50px;
            color: dodgerblue;
        }
    }
}

.cart--toggle{
    

    .cart_lenght{
        align-items: center;
        border-radius: 50%;
        background: dodgerblue;
        color: #fff;
        display: flex;
        font-size: 20px;
        height: 30px;
        justify-content: center;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-30%,50%);
        transform: translate(-45%, -215%);
        width: 30px
    }
}

.cart--active{
    right: 0;
}


.cart-of_shop{
    height: 360px;
    overflow-y: auto;
    border-radius: 10px;
    background: #f7f7f7
}

.cart-of_shop::-webkit-scrollbar{
    display: none;
}

.small_cart{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 8px;

    .cart_img{
        

        img{
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px;
            width: 100px;
            object-fit: cover;
            height: 100px;
        }
    }

    .cart_descriptions{
        display: flex;
        align-items: center;
        margin-top: 15px;

        strong{
            font-weight: 600;
        }

        svg{
            font-size: 23px;
        }

        p{
            font-weight: 600;
            padding: 6px;
            color: #fff;
            border-radius: 8px;
            background: dodgerblue;
        }
    }

}

.small_cart{

    .cart_price{
        font-weight: 600;
        font-size: 17px;
        margin-top: 10px;
        color: dodgerblue;
    }

    .btn_cart-group{
        margin-top: 20px;
        display: flex;
        align-items: center;

        span{
            color: grey;
            font-weight: 500;
        }

        button{
            background: dodgerblue;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 18px;
            height: 30px;
            margin: 0 10px;
            transition: .2s;
            width: 30px
        }

        button:hover{
            background: rgb(45, 45, 144);
        }
    }
}

.error_found{
    display: flex;
    position: absolute;
    top: 5%;
    left: 15%;
    align-items: center;
    flex-direction: column;

    h2{
        font-size: 30px;
        font-weight: 600;
    }

    img{
        margin-top: 20px;
    }

    button{
        margin-top: 20px;
        background: none;
        border: none;
        outline: none;
        color: dodgerblue;
        font-size: 28px;
    }
}

.cart--closer{
    position: absolute;
    left: -8%;
    border: none;
    background: transparent;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}