.reqs{
    margin: 60px auto;
    text-align: center;

    h1{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }

    .advice{


        .advice_services{
            flex-wrap: wrap;
            height: auto;
            margin-top: 60px;
            padding: 80px 30px;
            border: 1px solid rgb(231, 227, 227);
            border-radius: 4px;
            display: flex;
            justify-content: space-between;

            .service{
                display: flex;
                align-items: center;

                .about_service{
                    display: flex;
                    flex-direction: column;

                    p{
                        font-weight: 600;
                        font-size: 15px;
                    }

                    .advice_small{
                        padding: 20px 0;
                        color: grey;
                    }
                }
                
                .borderR{
                    border: 1px solid lightgray;
                    margin: 0 60px;
                    height: 70px;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px){

    
    .advice_services{
        flex-direction: column;
        width: 100%;
    }

    .about_service{


    }

    .borderR{
        display: none;
    }
}